<%- include layout/header %>
<br>
<%- include layout/menu %>
<br>
<h1><%= welcome %></h1>
<ol>
  <li><a href="teacher">teacher</a></li>
  <li><a href="subject">subject</a></li>
  <li><a href="student">student</a></li>
</ol>
<%- include layout/footer %>
